.ground {
  background: rgb(44, 122, 44);
  margin-top: 5rem;
  padding-top: 1rem;
  width:100%;
}

.footer {
  /* display: inline; */
  height: 8rem;
  margin: 0 auto;
  max-width: 900px;
}  

.icon {
  align-self: center;
  margin: 0 auto;
  padding: 1em;
  transform: scale(0.9);
  vertical-align: top;
  width: 10em;
}

.special {
  align-self: center;
  margin: 0 auto;
  padding: 1em;
  transform: scale(0.9);
  width: 13em;
}