.footer {
  background: rgb(44, 122, 44);
  height: 8rem;
  margin: 4rem auto 0 auto;
  position: relative;
  /* max-width: 900px; */
  width: 100%;
}  

.pad {
  margin: 0 auto;
  /* padding: 1rem 1rem 0 1rem; */
  position: absolute;
  top: -5rem;
  left: 5%;
  width: 10em;
}

.github {
  margin: 0 auto;
  /* padding: 1rem 1rem 0 1rem; */
  position: absolute;
  top: 1rem;
  left: 30%;
  width: 12em;
}

.npm {
  align-self: center;
  margin: 0 auto;
  padding: 1em;
  position: absolute;
  top: -3rem;
  left: 55%;
  vertical-align: top;
  width: 10em;
}

.docker {
  align-self: center;
  margin: 0 auto;
  /* padding: 1em; */
  position: absolute;
  top: -3rem;
  left: 75%;
  vertical-align: top;
  width: 9em;
}

@media screen and (max-width: 1150px) {
  .pad {
    top: -3rem;
    left: 5%;
    width: 8rem;
  }
  .github {
    top: 1rem;
    left: 30%;
    width: 9rem;
  }
  .npm {
    top: -3rem;
    left: 55%;
    width: 9rem;
  }
  .docker {
    top: -1rem;
    left: 75%;
    width: 8rem;
  }
}

@media screen and (max-width: 900px) {
  .pad {
    top: -3rem;
    left: 5%;
    width: 7rem;
  }
  .github {
    top: 1rem;
    left: 30%;
    width: 8rem;
  }
  .npm {
    top: -3rem;
    left: 55%;
    width: 8rem;
  }
  .docker {
    top: -1rem;
    left: 75%;
    width: 7rem;
  }
  .footer {
    height: 6rem;
  }
}

@media screen and (max-width: 600px) {
  .pad {
    top: -3rem;
    left: 5%;
    width: 6rem;
  }
  .github {
    top: 1rem;
    left: 30%;
    width: 7rem;
  }
  .npm {
    top: -3rem;
    left: 55%;
    width: 7rem;
  }
  .docker {
    top: -1rem;
    left: 75%;
    width: 6rem;
  }
  .footer {
    height: 5rem;
  }
}

@media screen and (max-width: 400px) {
  .pad {
    top: -2rem;
    left: 5%;
    width: 5rem;
  }
  .github {
    top: 2rem;
    left: 25%;
    width: 6rem;
  }
  .npm {
    top: -2rem;
    left: 45%;
    width: 6rem;
  }
  .docker {
    top: 0rem;
    left: 70%;
    width: 5rem;
  }
  .footer {
    height: 5rem;
  }
}

@media screen and (max-width: 320px) {
  .pad {
    top: -2rem;
    left: 5%;
    width: 4rem;
  }
  .github {
    top: 1rem;
    left: 25%;
    width: 5rem;
  }
  .npm {
    top: -2rem;
    left: 45%;
    width: 5rem;
  }
  .docker {
    top: 0rem;
    left: 70%;
    width: 4rem;
  }
  .footer {
    height: 4rem;
  }
}