a {
    text-decoration: none;
}
.header {
  margin: 0 auto;
  padding-top: 1rem;
  max-width: 900px;
}

.header ul {
  align-items: center;
  background: white;
  border-radius: 2rem;
  margin-top: 1rem;
  padding: 1rem;
  float: right;
}

.header li {
  display: inline;
  margin: 1rem;
  /* padding: 1rem; */
}

.logo {
  height: 6rem;
  width: 6rem;
}

.icon {
  width: 1rem;
}

@media screen and (max-width: 600px) {
  .logo {
    height: 4rem;
    width: 4rem;
  }
  .header ul {
    font-size: .8rem;
    margin-top: .5rem;
    padding: .5rem;
  }
  .header li {
    margin: .5rem;
  }
}
