a {
    color: orangered;
}

.layout {
    background: white;
    border-radius: 2rem;
    margin: 0 auto;
    max-width: 900px;
    padding: 2rem;
    padding-top: 1.5rem;
}

@media screen and (max-width: 600px) {
    .layout {
        max-width: 500px;
        padding: 1rem;
        padding-top: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .layout {
        max-width: 350px;
        padding: 1rem;
        padding-top: 1rem;
    }
}